<% if !product_info['local_header_title'].include?("Ops Manager") %>
  <li class="">
    <a href="https://docs.pivotal.io/ops-manager"><strong>Ops Manager Documentation</strong></a>
  </li>
<% end %>

<% if !product_info['local_header_title'].include?("Tanzu Application Service") %>
  <li>
    <a href="https://docs.pivotal.io/application-service"><strong>Tanzu Application Service Documentation</strong></a>
  </li>
<% end %>

<% if !product_info['local_header_title'].include?("Application Service for Kubernetes") %>
  <li>
    <a href="https://docs.pivotal.io/tas-kubernetes"><strong>TAS for Kubernetes Documentation</strong></a>
  </li>
<% end %>

<% if !product_info['local_header_title'].include?("Kubernetes Grid Integrated") %>
  <li>
    <a href="https://docs.pivotal.io/tkgi/index.html"><strong>Tanzu Kubernetes Grid Integrated Edition Documentation</strong></a>
  </li>
<% end %>

<li>
  <a href="https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid/index.html"><strong>Tanzu Kubernetes Grid Documentation</strong></a>
</li>